@import url('[https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap](https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap)');

:root {
  font-family: 'Inter', sans-serif;
}
body {
  background-color: #f8fafc;
  margin: 0;
}
/* Scrollbar cantik */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 10px; }
